/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    padding-top : 10px;
    padding-left: 20px;
    font-size: 22px;
}

.section-title-activites {
    margin: 0;
    font-size: 22px;
    padding-left : 30px;
    padding-top : 60px;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites-card-content{
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    padding : 0px;
}

.euro {
    font-weight: 700;
}

.h3 {
    font-style: bold;
    font : raleway ;
    size : 150px;
    font-size : 18px;
}

.h4{
    font-size : 22px;
    font-style : bold;
    font : raleway;
}

h5{
    font-size :18px;
    font-weight: bold;
    font-family :raleway;
    margin-top: 8px;
}

.neutral-star {
    color: var(--main-bg-color)
}

.p {
    font-family : raleway;
    font-size : 16px;
    margin : 0px;
}

button:focus, a:focus {
    outline: 2px solid #0065FC;
}

/****** Header ***********/

header { 
    display : flex;
    align-items : center;
    height: 80px;
    justify-content: space-between;
}

header nav {
    display : flex;
    font-size : 20px;
    gap: 70px;
    height: 100%;
}

header nav a {
  padding-top: 20px;
}

header nav a:hover {
    color : #0065FC;
    border-top : 2px solid #0065FC; 
}

header img{
    width : 61px;
    height : 19px;
}

/****** Vacances de rêve ***********/

.trouvez-votre-hebergement {
    gap : 8px;
    padding : 20px 0px;
}

.information {
    display : flex;
    align-items : center;
    padding-bottom : 30px;  
}

.logo-information {
    height : auto;
    width : 35px;
}

.search-bar{
    display : flex;
    align-items: center;
}

.text-search-bar{
    border : none;
    border-bottom : 2px solid #F2F2F2;
    border-top : 2px solid #F2F2F2;

    width : 220px;
    height: 44px;
    text-align: center;
    font-weight : bold;
    font-size : 18px;
}

.logo-localisation {
    width :14px;
    height : 18px;
    padding-top : 15px;
    padding-left : 18px;
}

.back-ground-localisation{
    background-color : #F2F2F2 ;
    border-radius: 50% 0 0 50%;
    width: 50px;
    height :49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.boutton {
    width : 100px;
    height : 21px;
    font-weight: bold ;
    
}
/*
.logo-rechercher-responsive{
    width: 17px;
    height: 17px;
}
*/

.back-ground-boutton{
    padding : 15px 16px;
    gap : 10px;
    background-color :#0065FC;
    font-weight : bold;
    color : white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border : none;
}

.filters {
    display : flex;
    align-items: center;   
    gap : 15px;
    padding : 25px 0px
}

.container-items{
    display :flex;
    align-items :center;
    gap : 15px;
}


.img-logo { 
    width : 22px;
    height : 22px;
}

.logements-disponibles{
    padding-left : 10px;
}


.filters .item { 
    gap : 10px;
    display : flex;
    align-items : center;
    border : 2px solid #D9D9D9;
    border-radius : 25px;
    padding: 4px 19px 4px 19px;
    height : 30px;
    background-color : transparent;
}

.filters .item:hover{
    background-color : #DEEBFF;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding-left : 20px;
    padding-top : 20px;
    padding-right : 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements-marseille {
    width: 65%; 
}

.hebergements-marseille .section-title{
    padding-bottom : 12px;
}
.description-image{
    padding-left : 10px;
}

.card-rating{
    padding-top :4px;
}

.container-hebergements {
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);  
    display: grid;
    gap: 20px;
    justify-items : start;
    max-width : 100%;
}

.container-hebergements .hebergement-cards{
    max-width :100%;
}
.hebergement-cards{
    background-color: #FFFFFF;
    border-radius : 20px;
    max-width : 100%;
    height : auto;
    padding :5px;
    margin-left : 0px;
}

.hebergement-cards .card {
    display : flex;
    margin-top : 33px;
    margin: 0px;
}

.hebergement-cards img {
    width : 250px;
    height : 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hotel-du-port{
    margin : 0px;
}

.hebergement-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergement-cards .card-subtitle {
    margin: 0;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items :baseline;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**************Activités ****************/

.card-txt-activites{
    display : flex;
    align-items: center;
    padding-left : 20px;
}
.activites {
    padding-bottom : 50px;
}

.activites .populaires-title{
    padding-bottom : 25px;
}

.activites-card {
    display: flex;
}

.activites-card-content img{
    border-radius : 20px 20px 0px 0px;
    margin : 0px;
    width: 298px;
    height: 380px;
    justify-content: space-between;
}

.activites-card-content{
    margin : 15px;
}

/**************Footer ****************/

footer {
    width: 100%;
    background-color: #F2F2F2;
}

.footer-container {
    max-width: 95%;
    margin:0 0 0 25px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;   
}

.footer-column {
    display: flex;
    flex-direction: column;
}
.footer-item {
    padding: 0 px;
    border-radius: 50px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width : 1024px) {

header {
    margin : 0 60px;
}
    
.vacances-de-rêve{
    margin : 0 60px;
}

.hebergements-and-populaires {
    display : flex;
    flex-direction: column;
    align-items: center;
    padding :0px;
}

.hebergements-marseille {
    width: 90%;
    margin-bottom : 60px;
    align-items : center;
}

.populaires {
    display : flex;
    flex-direction: column;
    width : 90%;
    padding-bottom : 30px;
}

.populaires .populaires-title{
    margin-bottom : 0px;
}
.populaires-cards {
    display: flex;
    flex-direction: row;
    gap : 25px;
}

.populaires-cards a {
    flex-direction: row;
    width: 33%;
}

.populaires-cards .card-title {
    font-size: 14px;
}

.populaires-cards .card-subtitle {
    font-size: 13px;
}

.activites{
    width :100%;
    align-items : center;
}

.activites .populaires-title{
    margin-left : 40px;
    padding-bottom : 25px;
}

.activites-card-content img{
    border-radius : 20px 20px 0px 0px;
    margin : 0px;
    width: 193px;
    height: 200px;
    justify-content: space-between;
}
.activites-card{
    width : 25%;
    padding-left : 50px;
}
footer{
    margin :0px 60px;
}

}

/* Small devices (phones, less than 768px) 
@media (max-width: 767.98px) {
    /* ... */

@media screen and (max-width: 767.98px) {
header{
    display:flex; 
    flex-direction: column;
    align-items :center;
    padding-bottom : 80px;
}
header img{
    padding-top : 45px;
    padding-bottom : 30px;
}

header nav{
    display :flex;
    justify-content :space-around;
}
header nav a {
    padding-bottom: 20px;
    border-bottom : 2px solid #F2F2F2;
    border-width : 200%;
}

header nav a:hover {
    color : #0065FC;
    border-top : none;
    border-bottom : 2px solid #0065FC; 
}

.search-bar{
    display : flex;
    justify-content : space-between;
}

.text-search-bar{
    border-bottom : 2px solid #F2F2F2;
    border-top : 2px solid #F2F2F2;
    width : 80%;
    height: 44px;
}

.back-ground-localisation{
    min-width : 45px;
}

.activites-card-content{
    width : 100%;
}

.container-hebergements{
    display : flex;
    flex-direction : column;
    
}

.item{
    width :50%;
}

.hebergement-cards img{
    width : 100%;
}   
}

