/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.section-title-activites {
    margin: 0;
    font-size: 22px;
    padding-left : 30px;
    padding-top : 60px;
    padding-bottom: 30px;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites-card-content{
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    padding : 0px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.p {
    font-family : raleway;
    font-size : 16px;
    margin : 0px;
}

button:focus, a:focus {
    outline: 2px solid blue;
}

/****** Header ***********/

header { 
    display : flex;
    align-items : center;
    height: 80px;
    justify-content: space-between;
}

header nav {
    display : flex;
    font-size : 20px;
    gap: 70px;
    height: 100%;
}

header nav a {
  padding-top: 20px;
}

header nav a:hover {
    color : blue;
    border-top : 2px solid blue; 
}

header img{
    width : 61px;
    height : 19px;
}

/****** Vacances de rêve ***********/

.trouvez-votre-hebergement {
    gap : 8px;
    padding : 20px 0px;
}

.information {
    display : flex;
    align-items : center;
    padding-bottom : 30px;  
}

.logo-information {
    height : auto;
    width : 35px;
}

.search-bar{
    display : flex;
    align-items: center;
}

.text-search-bar{
    width : 200px;
    height: 49px;
    text-align: center ;
    font-weight : bold;
    font-size : 18px;
}

.logo-localisation {
    width :14px;
    height : 18px;
    padding-top : 15px;
    padding-left : 18px;
}

.back-ground-localisation{
    background-color : #F2F2F2 ;
    border-radius: 50% 0 0 50%;
    width: 50px;
    height :49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.boutton {
    width : 100px;
    height : 21px;
    font-weight: bold ;
}

.back-ground-boutton{
    padding : 15px 16px;
    gap : 10px;
    background-color :#0065FC;
    font-weight : bold;
    color : white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.h3 {
    font-style: bold;
    font : raleway ;
    size : 150px;
    font-size : 18px;
}

.filters {
    display : flex;
    align-items: center;   
    gap : 15px;
    padding : 25px 0px

}

.img-logo { 
    width : 22px;
    height : 22px;
}

.logements-disponibles{
    padding-left : 10px;
}

.filters .item { 
    gap : 10px;
    display : flex;
    align-items : center;
    border : 2px solid #D9D9D9;
    border-radius : 25px;
    padding: 4px 19px 4px 19px;
    height : 30px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.h4{
    font-size : 22px;
    font-style : bold;
    font : raleway;

}

/****** Hebergements ***********/
.hebergements-marseille{
    gap :0px;
    width: 65%;
    min-width :940px; 
}

.description-image{
    padding-left : 10px;

}

.card-rating{
    padding-top :4px;
}

.container-hebergements {
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);  
    display: grid;
    gap: 20px;
    justify-items : start;
    max-width : 100%;
}

.container-hebergements .hebergement-cards{
    max-width :100%;
}
.hebergement-cards{
    background-color: #FFFFFF;
    border-radius : 20px;
    max-width : 100%;
    height : auto;
    padding :5px;
    margin-left : 0px;
}
.hebergement-cards .card {
    display : flex;
    margin-top : 33px;
    margin: 0px;
}

.hebergement-cards img {
    width : 250px;
    height : 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.section-title {
    padding-bottom : 30px;
}

.hotel-du-port{
    margin : 0px;
}

.hebergement-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergement-cards .card-subtitle {
    margin: 0;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**************Activités ****************/

.card-txt-activites{
    display : flex;
    align-items: center;
    padding-left : 20px;
}
.activites {
    padding-bottom : 50px;
}
.activites-card {
    display: flex;
    padding-left : 30px;
}

.activites-card-content img{
    border-radius : 20px 20px 0px 0px;
    margin : 0px;
    width: 298px;
    height: 380px;
    justify-content: space-between;
}

.activites-card-content{
    margin : 15px;
}

/**************Footer ****************/

footer {
    min-width: 100%;
    background-color: #F2F2F2;
}

.footer-container {
    max-width: 1200px;
    margin: 0 0 0 20px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 5px;   
}

.footer-column {
    display: flex;
    flex-direction: column;

.footer-item {
    padding: 0 px;
    border-radius: 50px;
}














/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-marseille {
        max-width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites-card-content img{
        border-radius : 20px 20px 0px 0px;
        margin : 0px;
        width: 193px;
        height: 200px;
        justify-content: space-between;
    }
    
}

/* Small devices (phones, less than 768px) 
@media (max-width: 767.98px) {
    /* ... */
}
